@model IEnumerable<BusinessLogic.ViewModels.ListItemsViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>
 

<div>
    <form method="post" action="/Items/Search">
        Search:&nbsp;
        <input type="text" name="keyword"/> &nbsp;
        <input type="submit" value="Search" />
    </form>
</div>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>
                    @Html.ActionLink("More Info", "Details", "Items", new { id = item.Id })
                    @*<a href="/Items/Details">More Info</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
